.text-gray-shadow {
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

h1.text-gray-shadow {
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

li.dropdown:hover .dropdown-menu {
  display: block;
}

.mosaic-item:focus .mosaic-item__img--static, .mosaic-item:hover .mosaic-item__img--static {
  opacity: 1.0 !important;
}
