.lifestyle__dot {
  z-index: 50;
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  padding: 0;
  background: transparent;
  cursor: pointer;
  display: inline-block; }
  .lifestyle__dot:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px; }
