/* FONTS */

@font-face {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/GothamBook.woff2') format('woff2'),
       url('../fonts/GothamBook.woff') format('woff'),
       url('../fonts/GothamBook.ttf') format('ttf');
}
@font-face {
  font-family: 'GothamMedium';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/GothamMedium.woff2') format('woff2'),
       url('../fonts/GothamMedium.woff') format('woff'),
       url('../fonts/GothamMedium.ttf') format('ttf');
}
@font-face {
  font-family: 'GothamBold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/GothamBold.woff2') format('woff2'),
       url('../fonts/GothamBold.woff') format('woff'),
       url('../fonts/GothamBold.ttf') format('ttf');
}
@font-face {
  font-family: 'DroidItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/DroidItalic.woff2') format('woff2'),
       url('../fonts/DroidItalic.woff') format('woff'),
       url('../fonts/DroidItalic.ttf') format('ttf');
}
